<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>4D</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../resources/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../resources/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- 상단 바 -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">4D</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#login-modal">Sign In</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#login-modal">Sign In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- 첫번째 컨테이너 -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">대략적인 소개</h1>
        <div class="row center">
          <h5 class="header col s12 light">대략적인 소개 문구</h5>
        </div>
        <div class="row center">
          <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">조회</a>
          <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">내 학생정보</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="../resources/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../resources/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <!-- 회원가입 폼 -->
  <div class="container" id="create-row">
	<span id="create" class="scrollspy"></span>
	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="row">
		<div class="section center">
	    	<h3 class="thin">Start your <strong class="bold">30 day free</strong> trial now.</h3>
	        <p class="flow-text">Then from just <span class="materialize-red-text lighten-2">$10 per year</span>.</p>
	    </div>
	</div>
    <div class="row">
        <div class="col s12">
            <div class="col s5 center">
                <div>
                    <input class="new-list-name-hidden" type="hidden" name="new-list-name">
                    <div class="center">
                        <p class="flow-text">Create an account and your new list.</p>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <input id="new-your-name" name="new-your-name" type="text">
                            <label for="new-your-name">ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <input id="new-your-password" name="new-your-password" type="password">
                            <label for="new-your-password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <input id="new-your-password" name="new-your-password" type="password">
                            <label for="new-your-password">Password again</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s2">
            and
            </div>
            <div class="col s5 center">
        		<input class="new-list-name-hidden" type="hidden" name="new-list-name">
                <div class="row">
                    <div class="col s12 input-field">
                        <input id="new-your-name" name="new-your-name" type="text">
                        <label for="new-your-name">이름</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <input id="new-your-password" name="new-your-password" type="password">
                        <label for="new-your-password">학교</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <input id="new-your-password" name="new-your-password" type="password">
                        <label for="new-your-password">학년</label>
                    </div>	
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <input id="new-your-password" name="new-your-password" type="password">
                        <label for="new-your-password">반</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <input id="new-your-password" name="new-your-password" type="password">
                        <label for="new-your-password">번호</label>
                    </div>
                </div>
        	</div>
        </div>
    </div>
    <div class="row center">
        <a href="/terms">Terms and conditions</a>
    </div>
    <div class="row center">
	    <button class="btn disabled" id="create-account-and-list">회원가입 버튼</button>
	    <p id="create-account-and-list-message" class="materialize-red-text lighten-2"></p>
	</div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../resources/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Team 4D</a>
      </div>
    </div>
  </footer>

  <!-- 로그인 모달 -->
  <div id="login-modal" class="modal">
        <div class="modal-content">
            <div class="row section">
                <h5>Sign in</h5>
                <div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="user-email" name="user-email" type="email">
                            <label for="user-email">ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="user-password" name="user-password" type="password">
                            <label for="user-password">Password</label>
                        </div>
                    </div>
                    <div id="login-button-panel" class="center-align">
                        <button class="btn" id="login-btn">Login</button>
                    </div>
                    <div class="section center">
                        <a class="modal-trigger" href="#forgot-password-modal">Are you not member?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../resources/js/materialize.js"></script>
  <script src="../resources/js/init.js"></script>

  </body>

  <script>
  	$(document).ready(function() {
		$('.modal').modal();
	});
  </script>
</html>