<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>4D</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="../resources/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 	<link href="../resources/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- <link href="<c:url value="/resources/css/materialize.css" />" rel="stylesheet">
    <link href="<c:url value="/resources/css/style.css" />" rel="stylesheet"> -->

</head>
<body>
	<!-- 상단 바 -->
	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">4D</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#login-modal">Sign In</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="#login-modal">Sign In</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>

	<!-- 첫번째 컨테이너 -->
	<div id="index-banner" class="container">
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<h1 class="header center black-text text-lighten-2">어떤 학생을 찾으세요?</h1>
				<div class="row center">
					<h5 class="header black-text col s12 light">특정 자격증을 소유한 학생부터 특정 능력을 보유한 학생까지, 원하시는 학생들 찾아드립니다.</h5>
				</div>
				<div class="row center">
					<a href="search.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">조회</a>
					<a href="" id="download-button" class="btn-large waves-effect waves-light white black-text lighten-1">내 학생정보</a>
				</div>
				<br><br>
			</div>
		</div>
		<div class="parallax"><img src="../resources/images/background4.jpg" alt="Unsplashed background img 1"></div>
	</div>


	<div class="container">
		<div class="section">
		<!--   Icon Section   -->
			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
						<h5 class="center">Speeds up development</h5>
						<p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center brown-text"><i class="material-icons">group</i></h2>
						<h5 class="center">User Experience Focused</h5>
						<p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center brown-text"><i class="material-icons">settings</i></h2>
						<h5 class="center">Easy to work with</h5>

						<p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../resources/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <!-- 회원가입 폼 -->
  <div class="row" id="create-row">
        <span id="create" class="scrollspy"></span>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="row">
            <div class="section center">
                <h3 class="thin">Start your <strong class="bold">30 day free</strong> trial now.</h3>
                <p class="flow-text">Create an account and your new list.</p>
                <!-- <p class="flow-text">Then from just <span class="materialize-red-text lighten-2">$10 per year</span>.</p> -->
            </div>
        </div>
        <div id="create-list-login-container" class="row create-list-button disabled">
        	<form id="signUpForm" action="" method="post">
            <div class="col s12 m6 l6">
                <div class="create-list-login-panel center">
                    <div>
                        <input class="new-list-name-hidden" type="hidden" name="new-list-name">
                        <div class="row">
	                        <div class="col s12 input-field">
	                            <input id="user_id_signUp" name="user_id" type="text">
	                            <label for="user_id_signUp">ID</label>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col s12 input-field">
	                            <input id="user_pw_signUp" name="user_pw" type="password">
	                            <label for="user_pw_signUp">Password</label>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col s12 input-field">
	                            <input id="user_pw_again" name="user_pw_again" type="password">
	                            <label for="user_pw_again">Password again</label>
	                        </div>
	                    </div>
                    </div>
                </div>
            </div>
            <div class="col s12 hide-on-med-and-up or-divider">
                <span>AND</span>
            </div>
            <div class="col s12 m6 l6 create-list-login-right">
                <div class="hide-on-small-only vertical-or">AND</div>
                <div class="create-list-login-panel center">
                    <div>
                        <input class="new-list-name-hidden" type="hidden" name="new-list-name">
                        <div class="row">
		                    <div class="col s12 input-field">
		                        <input id="name" name="name" type="text">
		                        <label for="name">이름</label>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col s12 input-field">
		                        <input id="school_name" name="school_name" type="text">
		                        <label for="school_name">학교</label>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col s12 input-field">
		                        <input id="school_grade" name="school_grade" type="number">
		                        <label for="school_grade">학년</label>
		                    </div>	
		                </div>
		                <div class="row">
		                    <div class="col s12 input-field">
		                        <input id="school_class" name="school_class" type="number">
		                        <label for="school_class">반</label>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col s12 input-field">
		                        <input id="school_number" name="school_number" type="number">
		                        <label for="school_number">번호</label>
		                    </div>
		                </div>
                    </div>
                </div>
            </div>
            <div class="row center">
		        <a href="/terms">Terms and conditions</a>
		    </div>
		    <div class="row center">
			    <button class="btn" id="signUpButton" type="button" form="signUpForm"
                 onclick="passwordCompare();">회원가입 버튼</button>
			    <p id="signUpButton-message" class="materialize-red-text lighten-2"></p>
			</div>
			</form>
        </div>
    </div>


    <!-- 소개 -->
    <div class="container">
    <div class="divider-big"></div>
    <div class="row" id="getting-started-with-group-email">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <h3 class="thin center">Getting Started with Group Email</h3>
            <div class="spacer"></div>
            <ul class="section" id="getting-started-list">
                <li class="flow-text">1. 원하는 항목에 정보를 입력합니다.</li>
                <li class="flow-text"><strong class="bold">확인</strong> 버튼을 클릭합니다.</li>
            </ul>
            <div class="section" id="getting-started-more-list">
                <p class="flow-text">다양한 항목을 작성함으로써 남들이 알기 힘든 자신을 어필할 수 있습니다.</p>
                <p class="flow-text">학부모님들이 학교생활을 관찰하시는데 도움이 됩니다.</p>
                <p class="flow-text">선생님에게 자신을 어필해 생활기록부작성이나 포트폴리오작성에 도움이 될 수 있습니다.</p>
                <p class="flow-text">나아가 기업에게도 자신의 능력을 어필할 수 있습니다.</p>
            </div>
            <div class="center section">
                <a href="#create" class="btn btn-large create-list-link hero-btn">조회 <svg style="width:24px;height:24px;top: 6px; position: relative; right: 2px;" viewBox="0 0 24 24">
<path fill="#ffffff" d="M5.59,7.41L7,6L13,12L7,18L5.59,16.59L10.17,12L5.59,7.41M11.59,7.41L13,6L19,12L13,18L11.59,16.59L16.17,12L11.59,7.41Z"></path>
</svg>


</a>
            </div>
            <div class="section center-align">
                <h3 class="flow-text">What group are you part of?</h3>
                <br>
                <h5 id="what-group-name-container">
                    <span class="valign-wrapper" style="display: inline-block;">
                        <span class="valign">
                            <span class="" id="group-name">community-garden-club</span><span class="light">@gaggle.email</span>
                        </span>
                    </span>
                </h5>
            </div>
            <div class="divider-big"></div>
        </div>

    <!-- 소개 -->
    <div class="row" id="learn-more">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <span id="learn" class="scrollspy"></span>
            <h2 class="thin center">왜 학생정보 열람이 필요한가?</h2>
            <div class="spacer"></div>
            <div>
                <p class="flow-text">선생님들이 사용하시는 나이스와 같은 사이트에선 학생들의 학업정보만 얻을 수 있기 때문에 해당 학생의 <strong class="bold">생기부</strong>나 <strong class="bold">포트폴리오</strong>를 작성할 때 어려움을 겪곤 합니다.</p>
                <p class="flow-text">대부분의 선생님들은 이때 필요한 정보에 대한 양식을 학생들에게 나눠주고 주로 <strong class="bold">메일</strong>이나 <strong class="bold">카페</strong>를 통해 돌려받습니다.</p>
                <p class="flow-text"><strong class="bold">하지만</strong> 상황에 따라 필요한 정보가 다르고 , 많은 학생의 정보를 처리(정리 및 저장)해야 하기 때문에 겪는 불편함이 상당합니다.</p>
                <p class="flow-text"><strong class="bold">따라서</strong> 우리는 학생이 정보를 기입해두면 언제든지 선생님들이 간편하게 열람할 수 있는 사이트를 만들고자 하였습니다.</p>
            </div>
        </div>
    </div>
    </div>

    <!-- 밑 바닥글 -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container grey-text">
                © 2017 Copyright
            <a class="right" href="http://github.com/jwt1029/D3S_HACKATHON">Developed by 4D in KOREA</a>
        </div>	
    </div>
</footer>

  <!-- 로그인 모달 -->
  <div id="login-modal" class="modal">
        <div class="modal-content">
         	<form id="signInForm" action="" method="post">
            <div class="row section">
                <h5>Sign in</h5>
                <div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="user_id" name="user_id" type="text">
                            <label for="user_id">ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="user_pw_signIn" name="user_pw" type="password">
                            <label for="user_pw_signIn">Password</label>
                        </div>
                    </div>
                    <div id="login-button-panel" class="center-align">
                        <button class="btn" id="create-account-and-list" type="submit" form="signInForm">Login</button>
                    </div>
                    <div class="section center">
                        <a class="modal-trigger" href="#forgot-password-modal">Are you not member?</a>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

	<!--  Scripts-->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="../resources/js/materialize.js"></script>
	<script src="../resources/js/init.js"></script>
	<script src="../resources/js/methods.js"></script>
	<!-- <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="<c:url value="/resources/js/materialize.js" />"></script>
	<script src="<c:url value="/resources/js/init.js" />"></script>
	<script src="<c:url value="/resources/js/methods.js" />"></script> -->
	</body>

	<script>
		//UI initialize
		$(document).ready(function() {
			$('.modal').modal();
		});
	</script>
</html>