<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>4D</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../resources/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../resources/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- 상단 바 -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">4D</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#login-modal">Sign In</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#login-modal">Sign In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- 첫번째 컨테이너 -->
  <div id="index-banner" class="container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">대략적인 소개</h1>
        <div class="row center">
          <h5 class="header col s12 light">대략적인 소개 문구</h5>
        </div>
        <div class="row center">
          <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">조회</a>
          <a href="" id="download-button" class="btn-large waves-effect waves-light white black-text lighten-1">내 학생정보</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="../resources/background4.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../resources/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <!-- 회원가입 폼 -->
  <div class="row" id="create-row">
            <span id="create" class="scrollspy"></span>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="row">
                <div class="section center">
                    <h3 class="thin">Start your <strong class="bold">30 day free</strong> trial now.</h3>
                    <p class="flow-text">Then from just <span class="materialize-red-text lighten-2">$10 per year</span>.</p>
                </div>
            </div>
            <div id="create-list-login-container" class="row create-list-button disabled">
            	<form id="signUpForm" action="">
                <div class="col s12 m6 l6">
                    <div class="create-list-login-panel center">
                        <div>
                            <input class="new-list-name-hidden" type="hidden" name="new-list-name">
                            <div class="center">
                                <p class="flow-text">Create an account and your new list.</p>
                            </div>
                            <div class="row">
		                        <div class="col s12 input-field">
		                            <input id="signUpID" name="signUpID" type="text">
		                            <label for="signUpID">ID</label>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col s12 input-field">
		                            <input id="signUpPassword" name="signUpPassword" type="password">
		                            <label for="signUpPassword">Password</label>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col s12 input-field">
		                            <input id="signUpPasswordAgain" name="signUpPassword" type="password">
		                            <label for="signUpPassword">Password again</label>
		                        </div>
		                    </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 hide-on-med-and-up or-divider">
                    <span>OR</span>
                </div>
                <div class="col s12 m6 l6 create-list-login-right">
                    <div class="hide-on-small-only vertical-or">OR</div>
                    <div class="create-list-login-panel center">
                        <div>
                            <input class="new-list-name-hidden" type="hidden" name="new-list-name">
                            <div class="center">
                                <p class="flow-text">Create an account and your new list.</p>
                            </div>
                            <div class="row">
			                    <div class="col s12 input-field">
			                        <input id="signUpName" name="signUpName" type="text">
			                        <label for="signUpName">이름</label>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="col s12 input-field">
			                        <input id="signUpSchool" name="signUpSchool" type="text">
			                        <label for="signUpSchool">학교</label>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="col s12 input-field">
			                        <input id="signUpGrade" name="signUpGrade" type="number">
			                        <label for="signUpGrade">학년</label>
			                    </div>	
			                </div>
			                <div class="row">
			                    <div class="col s12 input-field">
			                        <input id="SignUpClass" name="SignUpClass" type="number">
			                        <label for="SignUpClass">반</label>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="col s12 input-field">
			                        <input id="SignUpNumber" name="SignUpNumber" type="number">
			                        <label for="SignUpNumber">번호</label>
			                    </div>
			                </div>
                        </div>
                    </div>
                </div>
                <div class="row center">
			        <a href="/terms">Terms and conditions</a>
			    </div>
			    <div class="row center">
				    <button class="btn" id="create-account-and-list" type="submit" form="signUpForm">회원가입 버튼</button>
				    <p id="create-account-and-list-message" class="materialize-red-text lighten-2"></p>
				</div>
				</form>
            </div>
        </div>



  <!-- <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../resources/background3.jpg" alt="Unsplashed background img 3"></div>
  </div> -->

  <!-- 밑 바닥글 -->
  <footer class="page-footer">
    <div class="page-footer-icon">
        <div class="z-depth-1">
            <!-- <a href="/"><img alt="Gaggle Mail footer logo" src="/static/images/logo_circle48x48@2x.png"></a> -->
        </div>
    </div>
    <div class="container row">
        <div class="col s12 m6">
            <div>
                <a href="">About</a>
            </div>
            <div>
                <a href="">Terms and conditions</a>
            </div>
            <div>
                <a href="mailto:help@gaggle.email">Contact</a>
            </div>
            <div>
                <a href="">Press resources</a>
            </div>
            <div>
                <a href="">Blog</a>
            </div>
        </div>
        <div class="col s12 m6">
            <div>
                <a href="">FAQ</a>
            </div>
            <div>
                <a href="">What is group email?</a>
            </div>
            <div>
                <a href="">Why use group email?</a>
            </div>
            <div>
                <a href="">Getting started with group email</a>
            </div>
            <div>
                <a href="">Listserv</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container grey-text">
            © 2017 Copyright
            <span class="right">Made with <i class="materialize-red-text text-lighten-3 mdi-action-favorite"></i> in London</span>
        </div>
    </div>
</footer>

  <!-- 로그인 모달 -->
  <div id="login-modal" class="modal">
        <div class="modal-content">
         	<form id="signInForm" action="">
            <div class="row section">
                <h5>Sign in</h5>
                <div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="signInID" name="signUpID" type="text">
                            <label for="signInID">ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="signInPassword" name="signUpPassword" type="password">
                            <label for="signInPassword">Password</label>
                        </div>
                    </div>
                    <div id="login-button-panel" class="center-align">
                        <button class="btn" id="create-account-and-list" type="submit" form="signInForm">Login</button>
                    </div>
                    <div class="section center">
                        <a class="modal-trigger" href="#forgot-password-modal">Are you not member?</a>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../resources/js/materialize.js"></script>
  <script src="../resources/js/init.js"></script>

  </body>

  <script>
  	$(document).ready(function() {
		$('.modal').modal();
	});
  </script>
</html>