<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>검색</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="../resources/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="../resources/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!-- <link href="<c:url value="/resources/css/materialize.css" />" rel="stylesheet">
    <link href="<c:url value="/resources/css/style.css" />" rel="stylesheet"> -->
</head>
<body>
  <!-- 상단 바 -->
	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="home.html" class="brand-logo">4D</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#login-modal">Sign In</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="#login-modal">Sign In</a></li>
			</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>

	<!-- 검색 개요 -->
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3 class="center page-header">Search student information</h3>
				<div class="section center">
					<p class="flow-text">조회할 정보를 입력하세요.</p>
					<p class="flow-text">','을 사용해 여러 정보를 한번에 조회할 수 있습니다.</p>
				</div>
				<div class="input-field col s3">
					<select id="category">
						<option value="1" id="name">이름</option>
						<option value="2" id="school_name">학교</option>
						<option value="3" id="certifications">자격증</option>
						<option value="4" id="subjects">이수과목</option>
						<option value="5" id="techs">보유기술</option>
						<option value="6" id="favorites">관심분야</option>
						<option value="7" id="prizes">수상경력</option>
						<option value="8" id="patents">특허</option>
						<option value="9" id="outside_activity">대외활동</option>
						<option value="10" id="volunteer_activity">봉사활동</option>
						<option value="11" id="projects">프로젝트</option>
						<option value="12" id="favorite_company">관심회사</option>
						<option value="13" id="intern_career">인턴경력</option>
					</select>
					<label>검색단위</label>
				</div>
				<div class="input-field col s9">
					<i class="material-icons prefix">library_add</i>
					<input id="inputKeyword" name="inputKeyword" type="text" onkeydown="addKeyword(event)" />
					<label for="inputKeyword">검색어</label>
				</div>
				<form id="keywordList">
					<input id="count" name="count" hidden="hidden" value="0">
					<div class="input-field col s12" id="keywordList">
						<!-- 검색 키워드가 들어갈 공간 -->

					</div>
				</form>
				<div class="input-field col s12">
					<button class="btn" id="searchButton" type="button" form="keywordList">조회</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 밑 바닥글 -->
	<footer class="page-footer">
		<div class="page-footer-icon">
			<div class="z-depth-1">
				<!-- <a href="/"><img alt="Gaggle Mail footer logo" src="/static/images/logo_circle48x48@2x.png"></a> -->
			</div>
		</div>
		<div class="container row">
			<div class="col s12 m6">
				<div>
					<a href="">About</a>
				</div>
				<div>
					<a href="">Terms and conditions</a>
				</div>
				<div>
					<a href="mailto:help@gaggle.email">Contact</a>
				</div>
				<div>
					<a href="">Press resources</a>
				</div>
				<div>
					<a href="">Blog</a>
				</div>
			</div>
			<div class="col s12 m6">
				<div>
					<a href="">FAQ</a>
				</div>
				<div>
					<a href="">What is group email?</a>
				</div>
				<div>
					<a href="">Why use group email?</a>
				</div>
				<div>
					<a href="">Getting started with group email</a>
				</div>
				<div>
					<a href="">Listserv</a>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container grey-text">
				© 2017 Copyright
				<span class="right">Made with <i class="materialize-red-text text-lighten-3 mdi-action-favorite"></i> in London</span>
			</div>
		</div>
	</footer>

	<!-- 로그인 모달 -->
  <div id="login-modal" class="modal">
        <div class="modal-content">
         	<form id="signInForm" action="" method="post">
            <div class="row section">
                <h5>Sign in</h5>
                <div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="user_id" name="user_id" type="text">
                            <label for="user_id">ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="user_pw_signIn" name="user_pw" type="password">
                            <label for="user_pw_signIn">Password</label>
                        </div>
                    </div>
                    <div id="login-button-panel" class="center-align">
                        <button class="btn" id="create-account-and-list" type="submit" form="signInForm">Login</button>
                    </div>
                    <div class="section center">
                        <a class="modal-trigger" href="#forgot-password-modal">Are you not member?</a>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

	<!--  Scripts-->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="../resources/js/materialize.js"></script>
	<script src="../resources/js/init.js"></script>
	<script src="../resources/js/search.js"></script>
	<!-- <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="<c:url value="/resources/js/materialize.js" />"></script>
	<script src="<c:url value="/resources/js/init.js" />"></script>
	<script src="<c:url value="/resources/js/search.js" />"></script> -->
</body>

<script>
	//UI initialize
	$(document).ready(function() {
		$('.modal').modal();
	});

	$(document).ready(function() {
		$('select').material_select();
	});
</script>
</html>